<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlSample1" class="me.reinf.demo.chapter9.XmlSample">
        <property name="randomNumber" value="#{ T(java.lang.Math).random() * 100.0 }"></property>
    </bean>

    <bean id="xmlSample2" class="me.reinf.demo.chapter9.XmlSample">
        <property name="randomNumber" value="#{ xmlSample1.randomNumber }"></property>
    </bean>

</beans>